[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests = "*"
faker = "*"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
