.terraform/
errored.tfstate
.terraform.lock.hcl

task01/ansible/inventory
task02/docker-compose.yml
task02/nginx/nginx.conf
task03/web_1.yml
task03/web_2.yml
task12/.cache/*

.ipynb_checkpoints
*/.ipynb_checkpoints/*
