[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
short-url = "*"
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
pydantic = "*"
validators = "*"
shortuuid = "*"
python-decouple = "*"
starlette = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
