[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
pydantic = "*"
validators = "*"
shortuuid = "*"
python-decouple = "*"
starlette = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests = "*"


[requires]
python_version = "3.9"
