---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: webapp-2
spec:
  selector:
    matchLabels:
      app: web-2
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: web-2
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: webapp
          image: docker.pkg.github.com/titanlien/workshop/web2:master
          imagePullPolicy: Always
          ports:
          - containerPort: 5000
          readinessProbe:
            httpGet:
               path: /
               port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-2
  labels:
    app: web-2
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 5000
      protocol: TCP
      name: http
  selector:
    app: web-2
